    <!--.........Header start...........-->
    <header>
        <div class="row mrg-zero">

            <div class="col-xs-4 col-sm-5 col-md-4 col-lg-3">
                <!--Logo Left -->
                <div class="logo pull-right">               
                    <a href="javascript:void(0);"><img src="resourses/images/MergedLayers.png" alt="Help desk Logo" class="img-responsive"></a>
                </div>
                <!--/Logo Left -->
            </div>
            <div class="col-xs-8 col-sm-7 col-md-8 col-lg-9 HeaderBG">
                <!--User Loging info Right -->
                <div class="user_profile pull-right ">
                    <label class="dropdown dropdown_container">
                        <a href="javascript:void(0);" id="dropdownMenu1" class="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span>Hi,</span><strong class="text-info">{{globals.currentUser.username}} </strong>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#/login" >Sign-Out</a>
                            </li>
                            <li><a href="javascript:void(0);">Action</a>
                            </li>
                            <li><a href="javascript:void(0);">Something else here</a>
                            </li>
                            <li><a href="javascript:void(0);">Separated link</a>
                            </li>
                        </ul>
                    </label>
                    <span class="sep">|</span>
                    <a href="javascript:void(0);"><span> logged in as </span>  <strong class="text-info">PGAdmin</strong></a>
                </div>
                <!--/User Loging info Right -->
            </div>
        </div>
    </header>
    <!--.........Header End...........-->
