<div ng-include="'resourses/views/admin/Attributes/attributesNavigationBar.html'"></div>
<div role="tabpanel" class="tab-pane active" id="systemLookup" ng-controller="SysLokupController">
    <form name="SysLokuForm" >
        <!--{{choosenAttribute}}<br/>
        {{showLabel}}-->
        <div class="panel panel-default bottom-zero">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()">{{alert.msg}}</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="LookupName"><span class="text-danger">*</span> Lookup Name</label>
                                <input type="text" name="LookupName" class="form-control" placeholder=" Lookup Name" ng-model="choosenAttribute.attributeName" ng-minlength="2" ng-maxlength="30" required="required">
                                <div ng-messages="SysLokuForm.LookupName.$error" style="color : #a94442" role="alert" ng-show="(!SysLokuForm.LookupName.$pristine)">
                                    <div style="color : #a94442" ng-message="required">Please Enter Valid Lookup Name.</div>
                                    <div style="color : #a94442" ng-message="minlength">Lookup Name is too short </div>
                                    <div style="color : #a94442" ng-message="maxlength">Lookup Name is too long</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="role"><span class="text-danger">*</span> Lookup Type</label>
                                    <select ng-model="choosenAttribute.parentObject" name="LookupType" class="form-control minimal" required="required">
                                        <option value="CallNote">Call Note</option>
                                        <option value="Project">Project</option>
                                        <option value="CallProblem">Call Problem</option>
                                        <option value="ProblemIssue">Problem Issue</option>
                                        <option value="SiteVisit">Site Visit</option>
                                    </select>
                                    <div ng-messages="SysLokuForm.LookupType.$error" style="color : #a94442" role="alert" ng-show="(!SysLokuForm.LookupType.$pristine)">
                                        <div style="color : #a94442" ng-message="required">Please Choose Lookup Type.</div>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input type="checkbox" id="clossesIssue" ng-model="choosenAttribute.closeParentObj"/>
                                        <label for="clossesIssue"> Closes Issue</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input type="checkbox" id="isRequired" ng-model="choosenAttribute.isRequired"/>
                                        <label for="isRequired">Is Required</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input type="checkbox" id="KBAttribute" ng-model="choosenAttribute.isKbAttribute"/>
                                        <label for="KBAttribute"> KB Attribute</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <a class="btn btn-default pull-right hd-btn" href="javascript:void(0);" role="button" ng-click="addLookupColor()">Add Lookup Color</a>

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="table-responsive">
                                    <!--                                    <div ng-messages="SysLokuForm.optionNameInput.$error" style="color : #a94442" role="alert" ng-show="(!SysLokuForm.optionNameInput.$pristine)">
                                                                            <div ng-message="required">Please Enter option Name .</div>
                                                                            <div ng-message="minlength">option Name is too short </div>
                                                                            <div ng-message="maxlength">option Name is too long</div>
                                                                        </div>-->
                                    <table class="table table-bordered table-striped table-hover mrg-Top13 customer-site-table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Name</th>
                                                <th class="text-center">Color</th>
                                                <th class="text-center">Is Default</th>
                                                <th class="text-center">Close Issue</th>
                                                <th class="text-center">OPS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="lookupColorTable in choosenAttribute.lookupOptions| orderBy:'optionOrder' " ng-form="repeatForm">
                                                <td class="text-center">
                                                    <label ng-model="lookupColorTable.optionName" ng-hide="showLabel[$index]"   >{{lookupColorTable.optionName}}</label>
                                                    <input ng-model="lookupColorTable.optionName" ng-hide="!showLabel[$index]" type="text" name="optionNameInput" id="input" class="form-control text-center input-sm" value="{{lookupColorTable.optionName}}" required="required" pattern="" title="" ng-minlength="2" ng-maxlength="30">
                                                    <div ng-messages="repeatForm.optionNameInput.$error"  role="alert" ng-show="repeatForm.optionNameInput.$error && (!submitted || repeatForm.optionNameInput.$touched )">
                                                        <div style="color : #a94442" ng-message="required">Please Enter Name.</div>
                                                        <div style="color : #a94442" ng-message="minlength">Version Name is too short </div>
                                                        <div style="color : #a94442" ng-message="maxlength">Version Name is too long</div>
                                                    </div>
                                                </td>
                                                <td class = "text-center" >
                                                    <input type="text" ng-model="lookupColorTable.color" minicolors="{theme:'bootstrap',control:'wheel'}" class ="form-control color-input" value = "{{lookupColorTable.color}}">
                                                </td>
                                                <td class="text-center">
                                                    <input type="radio" name="default" ng-model="lookupColorTable.isDefault"  ng-click="ChooseThisAsDefault(lookupColorTable)" ng-value="true"/>
                                                </td>
                                                <td class="text-center">
                                                    <div class="checkbox">
                                                        <input type="checkbox"  ng-model="lookupColorTable.closesIssue" id="suspend"/>
                                                        <label for="suspend" ></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <a class="" href="javascript:void(0);" role="button" ng-show="!$first" ng-click="moveUp($index)"><i class="fa fa-caret-up"></i></a>
                                                    <a class="" href="javascript:void(0);" role="button" ng-show="!$last" ng-click="moveDown($index)"><i class="fa fa-caret-down"></i></a>
                                                    <a class="" href="javascript:void(0);" role="button" ng-hide="showLabel[$index]" ng-click="edit($index)"><i class="fa fa-pencil-square-o"></i></a>
                                                    <a class="" href="javascript:void(0);" role="button" ng-hide="!showLabel[$index]" ng-click=" !repeatForm.optionNameInput.$valid ? repeatForm.optionNameInput.$pristine = false : edit($index)"><i class="fa fa-floppy-o"></i></a>
                                                    <a class="" href="javascript:void(0);" role="button" ng-click="deleteLookupColor(lookupColorTable, $index)"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="panel panel-default list-container">
                            <div class="panel-body">
                                <div class="header-panel">
                                    <h5>lookUps</h5>
                                </div> 
                                <!--<div class="mCustomScrollbar" ng-scrollbars ng-scrollbars-config="scrollbarConfig" >-->
                                <div  ng-scrollbars ng-scrollbars-config="$root.scrollbarConfig" >
                                    <!--                                    <table>
                                                                            <tr ng-repeat="lookUp in AllSystemLookUps">
                                                                                <td>
                                                                                    <ul class="custom-list"  >
                                                                                        <li><a href="" ng-click="showlookUpDetails(lookUp)">{{lookUp.attributeName}}</a></li>
                                                                                    </ul>
                                                                                </td>
                                                                            </tr>
                                                                        </table>-->
                                    <ul class="custom-list" >
                                        <li ng-repeat="lookUp in AllSystemLookUps| orderBy : 'attributeName'">
                                            <a href="" ng-click="showlookUpDetails(lookUp,$index)" ng-class="{active : $index === choosenIndex }">{{lookUp.attributeName}}</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a class="btn btn-info pull-left mrg-Right13" href="javascript:void(0);" role="button" ng-click="reNew()">New</a>
                        <a class="btn btn-info pull-left mrg-Right13" href="javascript:void(0);" role="button" ng-click="(!SysLokuForm.$valid) ?
                                            SysLokuForm.LookupName.$pristine = SysLokuForm.LookupType.$pristine = SysLokuForm.optionNameInput.$pristine = submitted = false
                                            : save()">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
