<div >
    <!--{{x}}--> 
    <ul class="nav nav-tabs" role="tablist">
       <li role="presentation" ng-class="{active: activeClassName === 'Users'}">
            <a href="#users" aria-controls="Users" role="tab" data-toggle="tab" ng-click="setActiveCLass('Users')" >Users</a>
        </li>
        <li role="presentation" ng-class="{active: activeClassName === 'Roles'}">
            <a href="#roles" aria-controls="Roles" role="tab" data-toggle="tab" ng-click="setActiveCLass('Roles')">Roles</a>
        </li>
        <li role="presentation" ng-class="{active: activeClassName === 'Privileges'}">
            <a href="#privileges" aria-controls="Privileges" role="tab" data-toggle="tab" ng-click="setActiveCLass('Privileges')">Privileges</a>
        </li>
        <li role="presentation" ng-class="{active: activeClassName === 'Profile'}">
            <a href="#Profile" aria-controls="Profile" role="tab" data-toggle="tab" ng-click="setActiveCLass('Profile')">Profile</a>
        </li>
        <li role="presentation" ng-class="{active: activeClassName === 'Manage_Customers'}">
            <a href="#customers" aria-controls="Manage_Customers" role="tab" data-toggle="tab" ng-click="setActiveCLass('Manage_Customers')">Manage Customers</a>
        </li>
    </ul>
</div>