<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-class="{active: activeClassName === 'systemLookup'}" >
        <a href="#systemLookup" aria-controls="systemLookup" role="tab" data-toggle="tab" ng-click="setActiveCLass('systemLookup')">System Lookup</a>
    </li>
    <li role="presentation" ng-class="{active: activeClassName === 'systemFeilds'}">
        <a href="#systemFeilds" aria-controls="systemFeilds" role="tab" data-toggle="tab" ng-click="setActiveCLass('systemFeilds')">System Fields</a>
    </li>
    <li role="presentation" ng-class="{active: activeClassName === 'customLookup'}">
        <a href="#customLookup" aria-controls="customLookup" role="tab" data-toggle="tab" ng-click="setActiveCLass('customLookup')">Custom Lookup</a>
    </li>
    <li role="presentation" ng-class="{active: activeClassName === 'customFeilds'}">
        <a href="#customFeilds" aria-controls="customFeilds" role="tab" data-toggle="tab" ng-click="setActiveCLass('customFeilds')">Custom Fields</a>
    </li>
</ul>
