<!-- .........Body container start........... -->
<div class="container" ng-controller="AgainIssuesController">
    <div class="panel panel-default list-container">
        <div class="panel-body">
            <div class="header-panel">
                <h5>Aging</h5>
            </div>
            <div class="row">
                <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()">{{alert.msg}}</div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default mrg-Top10">
                        <div class="panel-body asd">
                             <div class="form-group ">
                                <span class="col-sm-2 text-left control-label">All Issues</span>
                                <span class="col-sm-2 text-left control-label">:{{allIssues}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--{{ChoosenObj}}-->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="pickerMinSelector" class="col-sm-2 control-label mrg-Top5">From</label>
                            <div class="col-sm-10">
                                <input class="form-control" date-time ng-model="dates.minDate" id="pickerMinSelector" ng-click="ResetChoosenOBj()"
                                       date-change="changeMinMax" max-date="maxDate" view="date" min-view="date" format="lll">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                            <label for="pickerMaxSelector" class="col-sm-2 control-label mrg-Top5">To</label>
                            <div class="col-sm-10">
                                <input class="form-control" date-time ng-model="dates.maxDate" id="pickerMaxSelector" ng-click="ResetChoosenOBj()"
                                       date-change="changeMinMax" min-date="minDate" view="date" min-view="date" format="lll">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mrg-Top25">
                        <div class="panel panel-default list-container">
                            <div class="panel-body">
                                <div class="header-panel">
                                    <h5>By Products</h5>
                                </div>
                                <div ng-scrollbars ng-scrollbars-config="$root.scrollbarConfig" >
                                    
                                    <ul class="custom-list" >
                                        <li ng-repeat="product in allProducts | orderBy : 'productTitle'">
                                           <a href="" ng-click="chooseThisProduct(product,$index)" ng-class="{active : $index === choosenProductIndex }">{{product.productTitle}}</a>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mrg-Top25">
                        <div class="panel panel-default list-container">
                            <div class="panel-body">
                                <div class="header-panel">
                                    <h5>By Project</h5>
                                </div>
                                <div ng-scrollbars ng-scrollbars-config="$root.scrollbarConfig" >
                                    
                                    <ul class="custom-list" >
                                       <li ng-repeat="Project in allProjects | orderBy : 'projectTitle'">
                                            <a href="" ng-click="chooseThisProject(Project,$index)" ng-class="{active : $index === choosenProjectIndex }">{{Project.projectTitle}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a class="btn btn-info pull-left mrg-Right13" href="javascript:void(0);" role="button" ng-click="startAging()" >Start Aging</a>
                </div>

            </div>

        </div>
    </div>
</div>
<!--.......End Body container..........-->
